/* Home.css */
/* post */
.post-container {
    margin-top: 20px;
}

.post {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-name {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.post-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.post-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 600px; /* Set the maximum height for the images */
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 10px;
}

.like-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.like-icon {
    width: 20px;
    height: 20px;
    background-color: #dc3545;
    border-radius: 50%;
    margin-right: 5px;
}

.like-count {
    font-size: 14px;
    color: #000;
}

.like-button.liked .like-icon {
    background-color: #f00;
}

.comment-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-item {
    margin-bottom: 5px;
}

.comment-content {
    color: #000;
}

.comment-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
}

.comment-button {
    background-color: #007bff;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-button:hover {
    background-color: #0056b3;
}

.post-video{
    /* make the video container responsive and make it so it fits in the post-container and dosnt overflow */
    max-height: 700px;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

